.header {
    width: 900px;
    margin: 20px auto;
}

.header-name {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
}

.header-description {
    max-width: 900px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 10px #e7e7e7;
    margin-bottom: 20px;

}


.header-description {
    display: flex;
    justify-content: space-between;
}

.header-description_img {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-right: 50px;
    align-items: center;
}

.header-description_types {
    margin: 20px;
    margin-bottom: 10px;
}

.header-description_types-head {
    font-size: 16px;
}

.header-description_bp {
    margin: 20px;
    margin-top: 10px;
}

ul {
    padding-left: 15px;
    font-size: 15px;
}

li {
    margin-bottom: 5px;
}

.header-description_container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;


}